
.icon-emo-sunglasses:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gmail:before { content: '\e805'; } /* '' */
.icon-emo-happy:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e809'; } /* '' */